workflows/n8n/support-gmail.json
{
  "name": "Nira — Support Gmail → Agent → Draft",
  "nodes": [
    {
      "parameters": { "pollTimes": { "item": [{ "mode": "everyMinute" }] }, "simple": false, "filters": { "labelIds": ["INBOX"], "readStatus": "unread" } },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": { "gmailOAuth2": { "id": "__CLIENT_GMAIL_CRED__" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.NIRA_AGENT_URL}}/v1/support/process",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{$env.NIRA_AGENT_TOKEN}}" }] },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            { "name": "agent_id", "value": "={{$env.NIRA_SUPPORT_AGENT_ID}}" },
            { "name": "email_text", "value": "={{$json.text || $json.snippet}}" },
            { "name": "gmail_thread", "value": "={ \"id\": \"{{$json.threadId}}\", \"from\": \"{{$json.from.value[0].address}}\", \"subject\": \"{{$json.subject}}\" }" }
          ]
        }
      },
      "id": "call-agent",
      "name": "Call Nira Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 300]
    },
    {
      "parameters": {
        "conditions": { "string": [{ "value1": "={{$json.status}}", "value2": "sent" }] }
      },
      "id": "check-sent",
      "name": "Already sent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": { "messageId": "={{$node[\"Gmail Trigger\"].json.id}}", "operation": "markAsRead" },
      "id": "mark-read",
      "name": "Mark as Read",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1080, 200]
    }
  ],
  "connections": {
    "Gmail Trigger": { "main": [[{ "node": "Call Nira Agent", "type": "main", "index": 0 }]] },
    "Call Nira Agent": { "main": [[{ "node": "Already sent?", "type": "main", "index": 0 }]] },
    "Already sent?": { "main": [[{ "node": "Mark as Read", "type": "main", "index": 0 }], []] }
  }
}
